<!DOCTYPE html>
<html>
  <head>
    <title>Text to Speech</title>
    <style>
        html * {
            font-size: 1em !important;
            color: rgb(0, 0, 0) !important;
            font-family: Arial !important;
        }
        body {
            margin:50px 0;
            padding:0;
            text-align:center;
        }

        #Content {
            width:500px;
            margin:0 auto;
            text-align:left;
            padding:15px;
            border:1px dashed #333;
            background-color:#eee;
        }
    </style>
  </head>
  <body class="htmlNoPages">
    <header>
        <script data-require="jquery@1.9.1" data-semver="1.9.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script>
            function request_answer(){
              console.log('REQUESTING')
              audio = document.getElementById('audio');
              input_text = encodeURIComponent(document.getElementById('input_text').value);
              _url = "/query?text=" + input_text;
              $("#audio_src").attr("src", encodeURI(_url));
              audio.load(); //call this to just preload the audio without playing
              audio.play(); //call this to play the song right away
            }
        </script>
    </header>
    <div>
        <div id="question_div" style="width: 100%;">
          <div id="question_str" style="margin: 5px auto; display: table; font-weight: bold;">
            <p>Enter some text to convert ...</p>
          </div>
          <input style="margin: 10px auto; display: table;" type="text" id="input_text" name="input_text" required=""
            size="25" placeholder="My name is Laurie" value="My name is Laurie"
            onkeypress="this.style.width = ((this.value.length + 1) * 8) + 'px';">
        </div>
    </div>
    <div id="btn_div" style="margin: 50px auto; display: table;">
        <button id="submit-button" class="submit-button-style" style="margin-right: 50px; font-weight: bold;"
          onclick="request_answer()">Say It!</button>
    </div>
    <audio id='audio' controls>
        <source id='audio_src' src='' type='audio/wav'>
        Your browser does not support the audio tag.
    </audio>
  </body>
</html>