<!DOCTYPE html>
<html>
  <head>
    <title>Text to Speech Multiline</title>
    <style>
        html * {
            font-size: 1em !important;
            color: rgb(0, 0, 0) !important;
            font-family: Arial !important;
        }
        body {
            margin:50px 0;
            padding:0;
            text-align:center;
        }

        #Content {
            width:500px;
            margin:0 auto;
            text-align:left;
            padding:15px;
            border:1px dashed #333;
            background-color:#eee;
        }
    </style>
  </head>
  <body class="htmlNoPages">
    <header>
        <script data-require="jquery@1.9.1" data-semver="1.9.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
        <script>
            // Set the start index and initialise array.
            global_index = 0
            global_lines = []
            let MAX_WORD_COUNT = 15;

            function word_count(input_str){
                if (typeof input_str === undefined)
                   return 9999;
                return input_str.split(' ').length;
            }

            function request_answer(){
              global_index = 0;
              audio = document.getElementById('audio');
              global_lines = [];

              //global_lines = $('input_text').value.split('\n');
              let curValue = document.getElementById("input_text").value;
              let cur_lines =[];
              if(curValue.search('\n') >= 0){
                cur_lines = curValue.split('\n');
              }else{
                cur_lines = cur_lines.concat(curValue);
              }
              var cur_line_split = "";
              var arrayLength = cur_lines.length;
              for (var i=0; i<cur_lines.length; i++){
                  var cur_line = cur_lines[i];
                  if (word_count(cur_line) < MAX_WORD_COUNT){
                    console.log(cur_line)
                    if (cur_line.length > 0){
                        global_lines = global_lines.concat(cur_line);
                    }
                  }else{
                        if(typeof cur_line !== "undefined" ){
                            var period_seperated = cur_line.split(".");
                            for (var j=0; j<period_seperated.length; j++){
                                var cur_sentence = period_seperated[j];
                                if (typeof cur_sentence  !== "undefined" ){
                                    if(word_count(cur_line) < MAX_WORD_COUNT){
                                        if (cur_sentence.length > 0){
                                            console.log(cur_sentence.concat("."))
                                            global_lines = global_lines.concat(cur_sentence.concat("."));
                                        }
                                    }else{
                                        var space_seperated = cur_sentence.split(" ");
                                        for (var k=0;k<(space_seperated.length/MAX_WORD_COUNT);k++){
                                            var sub_array = space_seperated.slice(k*MAX_WORD_COUNT,(k+1)*MAX_WORD_COUNT);
                                            var cur_phrase = sub_array.join(" ");
                                            if(typeof cur_phrase  !== "undefined" ){
                                                if (k+1 >= space_seperated.length/MAX_WORD_COUNT){
                                                    if (cur_phrase.length > 0 ){
                                                        console.log(cur_phrase)
                                                        global_lines=global_lines.concat(cur_phrase);
                                                    }
                                                }else{
                                                    if (cur_phrase.length > 0 ){
                                                        console.log(cur_phrase)
                                                        global_lines=global_lines.concat(cur_phrase);
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
              }
              // Play the first line to start the loop.
              if(global_index < global_lines.length){
                play_next_wav()
              }
            }

            function play_next_wav(){
                input_text = encodeURIComponent(global_lines[global_index]);
                _url = "/query?text=" + input_text;
                $("#audio_src").attr("src", _url);
                audio.load(); //call this to just preload the audio without playing
                audio.play(); //call this to play the song right away
            }




        </script>
    </header>
    <div>
        <div id="question_div" style="width: 100%;">
          <div id="question_str" style="margin: 5px auto; display: table; font-weight: bold;">
            <p>Enter some text to convert ...</p>
          </div>
          <textarea style="overflow:auto;" type="text" id="input_text" name="input_text" rows="10" cols="120">Sun's coming up. Like a big bald head.
Poking up over the grocery store.
It's Sharkey's day. It's Sharkey's day today.
Sharkey wakes up and Sharkey says: There was this man...
And there was this road... And if only I could remember these dreams...
I know they're trying to tell me... something.
Ooooeee. Strange dreams.(Strange dreams). Oh yeah.
And Sharkey says: I turn around, it's fear. I turn around aagain
And it's love. Oh yeah. Strange dreams.
And the little girls sing: Oooee Sharkey.
And the manager says: Mr. Sharkey? He's not at his desk right now.
Could I take a message?
And the little girls sing: Oooeee Sharkey. He's Mister Heartbreak.
They sing: Oooeee Sharkey. Yeah. He's Mister Heartbreak.
And Sharkey says: All of nature talks to me. If I could just
Figure out what it was trying to tell me. Listen!
Trees are swinging in the breeze. They're talking to me.
Insects are rubbing their legs together.
They're all talking. They're talking to me. And short animals-
They're bucking up on their hind legs. Talking. Talking to me.
Hey! Look out! Bugs are crawling up my legs!
You know? I'd rather see this on TV. Tones it down.
And Sharkey says: I turn around, it's fear.
I turn around again, and it's love.
Nobody knows me. Nobody knows my name.
And Sharkey says: All night long I think of those little planes up there.
Flying around. UYou can't even see them. They're specks!
And they're full of tiny people. Going places.
And Sharkey says: You know? I bet they could all land
On the head of a pin.
And the little girls sing: Ooooeee. Sharkey!
He's Mister Heartbreak. They sing: Oooeee. That Sharkey!
He's a slow dance on the edge of the lake. He's a whole landscape
Gone to seed. He's gone wild! He's screeching tires
On an oil slick at midnight on the road to Boston a long time ago.
And Sharkey says: Lights! Camera! Action! TIMBER!
At the beginning of the movie, they know they have to find each other.
But they ride off in opposite directions.
Sharkey says: I turn around, it's fear.
I turn around again, and it's love.
Nobody knows me. Nobody knows my name.
You know? They're growing mechanical trees.
They grow to their full height. And then they chop themselves down.
Sharkey says: All of life comes from some strange lagoon.
It rises up, it bucks up to it's full height from a boggy swamp
On a foggy night. It creeps into your house. It's life! It's life!
I turn around, it's fear. I turn around again, and it's love.
Nobody knows me. Nobody knows my name.
Deep in the heart of darkest America. Home of the brave.
Ha! Ha! Ha! You've already paid for this. Listen to my heart beat.
And the little girls sing: Oooeee Sharkey. He's a slow dance
On the edge of the lake. They sing: Ooooeeee. Sharkey.
HEe's Mister Heartbreak.
Paging Mr. Sharkey. White courtesy telephone please.
And Sharkey says: I turn around, it's fear.
I turn around again, and it's love.
And the little girls sing: Ooooeee Sharkey. Yeah.
On top of Old Smokey all covered with snow.
That's where I wanna, that's where I'm gonna
That's where I'm gonna go.</textarea>
        </div>
    </div>
    <div id="btn_div" style="margin: 50px auto; display: table;">
        <button id="submit-button" class="submit-button-style" style="margin-right: 50px; font-weight: bold;"
          onclick="request_answer()">Say It!</button>
    </div>
    <audio id='audio' controls>
        <source id='audio_src' src='' type='audio/wav'>
        Your browser does not support the audio tag.
    </audio>

    <script>
         audio = document.getElementById('audio');
    audio.onended=function(){
        console.log("Started next line start");
        // done playing current line, play next line if it exists.
        //alert("Player stopped");
        global_index = global_index + 1;
        if(global_index < global_lines.length){
            play_next_wav();
        }
    };
    </script>
  </body>
</html>