<!DOCTYPE html>
<html>
  <header>
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="0" />
    <meta http-equiv="pragma" content="no-cache" />
    <link rel="stylesheet" href="static/tts.css" />
    <script src="static/myQueue.js"></script>
    <script src="static/tts.js"></script>
    <!-- <script>
      //server running at http://127.0.0.1:5000/

      //variables to queue synthesised sounds in the browser
      var k = -1;
      var sounds = [];

      //session id for unique temp files on server
      sessionId = Date.now();
      console.log(sessionId);

      //variables for keyword generation
      var useGoogleAus = false;
      var useGoogleUSA = false;
      var useOwnKW = false;

      //default keyword settings
      var KW = {
        model: "laurie",
        keywords: "blue ball",
      };

      //Queue object to store text generation
      var q = new Queue();

      var textBox = document.getElementById("textBox");

      //FUNCTION
      //get a random int between min and max
      function randomIntFromInterval(min, max) {
        // min and max included
        return Math.floor(Math.random() * (max - min + 1) + min);
      }

      //are we in automated mode - to automatically produce output
      var automated = false;
      var addingToQueue = false;

      //function to start a new output if directed from automation
      function automatedGo() {
        console.log("Start of an automated text and audio generation");
        //randomly select a keyword generation source
        kwGenerator = randomIntFromInterval(1, 6);
        console.log("Keyword Source");
        switch (kwGenerator) {
          case 1:
            console.log("Google Aus");
            clickGoogleAus();

            break;
          case 2:
            console.log("Google USA");
            clickGoogleUSA();

            break;
          case 3:
            console.log("Reddit News Hot");
            clickRedditNewsHot();

            break;
          case 4:
            console.log("Reddit News - New");
            clickRedditNewsNew();

            break;
          case 5:
            console.log("Reddit Funny - Hot");
            clickRedditFunnyHot();

            break;
          case 6:
            console.log("Reddit Funny - New");
            clickRedditFunnyNew();

            break;

          default:
            clickGoogleAus();
            break;
        }
      }

      function onclickStart() {
        startButton = document.getElementById("startauto");
        startButton.style.backgroundColor = "green";
        automated = true;
        automatedGo();
      }

      function onclickStop() {
        startButton = document.getElementById("startauto");
        startButton.style.backgroundColor = "grey";
        automated = false;
      }

      function onLoad() {
        textBox.innerHTML = "Generating Text and Audio files";
        var xhttp = new XMLHttpRequest();
        outSide = { temp: "temp" };

        keywordEntry = document.getElementById("kwToUse");
        if (useOwnKW) KW.keywords = keywordEntry.value;

        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            let r = JSON.parse(this.responseText);
            outSide = this.responseText;

            let output = "";
            output = r.replace('"', "");
            output = output.replace(/\n/g, "<br>");

            kWTextPair = {
              keywords: KW.keywords,
              qText: r,
            };
            q.enqueue(kWTextPair);

            //document.getElementById("keyWords").innerHTML = KW["keywords"];

            pairToSynth = q.dequeue();
            document.getElementById("keyWords").innerHTML =
              pairToSynth["keywords"];

            text = { text: pairToSynth.qText };

            console.log("Sending for synthesis:");
            console.log(text["text"]);
            console.log("------------");
            synth(text);
          }
          if (this.readyState == 4 && this.status == 500) {
            textBox.innerHTML =
              "ERROR WITH TEXT GENERATION<br>" +
              "Keywords used:<br>" +
              KW["keywords"];
          }
        };

        if (q.isEmpty) {
          xhttp.open("POST", "http://127.0.0.1:5000/generate", true);
          xhttp.setRequestHeader("Content-Type", "application/json");
          xhttp.send(JSON.stringify(KW));
        } else {
          pairToSynth = q.dequeue();
          document.getElementById("keyWords").innerHTML =
            pairToSynth["keywords"];

          let output = "";
          output = pairToSynth.qText.replace('"', "");
          output = output.replace(/\n/g, "<br>");

          text = { text: pairToSynth["qText"] };
          synth(text);
        }
      }

      /*async function addToQueue() {
        var xhttp = new XMLHttpRequest();
        addingToQueue = true;
        automatedGo();

        outSide = { temp: "temp" };

        keywordEntry = document.getElementById("kwToUse");
        if (useOwnKW) KW.keywords = keywordEntry.value;

        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            let r = JSON.parse(this.responseText);
            outSide = this.responseText;

            let output = r.replace('"', "");
            output = output.replace(/\n/g, "<br>");

            pairToQueue = { keywords: KW["keywords"], qText: r };
            q.enqueue(pairToQueue);

            //document.getElementById("generatedText").innerHTML =
            //output;

            //document.getElementById("keyWords").innerHTML =
            //KW["keywords"];

            //text = {"text":r};
            //synth(q.dequeue(r));
          }
        };

        xhttp.open("POST", "http://127.0.0.1:5000/generate", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        xhttp.send(JSON.stringify(KW));
      }*/

      function playSounds() {
        k++;
        if (k == sounds.length) {
          if (automated) {
            //textBox = document.getElementById("textBox");
            //initially had text fade IN - this would reset to an opacity of 0 to fade back in
            //textBox.classList.remove("fade-in-text");
            //textBox.style.opacity = 0;
            automatedGo();
          }

          sounds = [];
          return;
        }

        sounds[k].addEventListener("ended", playSounds);

        sounds[k].play();
      }

      function makeid(length) {
        var result = "";
        var characters =
          "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
        var charactersLength = characters.length;
        for (var i = 0; i < length; i++) {
          result += characters.charAt(
            Math.floor(Math.random() * charactersLength)
          );
        }
        return result;
      }

      function synth(text) {
        console.log("Sending speech synthesis request");
        var worker = new Worker("static/worker.js");

        _text = text["text"];
        output = _text.replace('"', "");
        output = output.replace(/\n/g, "<br>");

        tList = _text.split("\n");
        numLines = tList.length;

        uText = { session: sessionId, text: text };

        var xhttp = new XMLHttpRequest();

        audio = document.getElementById("audio");

        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            //let textBox = document.getElementById("generatedText");
            textBox.innerHTML = output;

            textBox.animate(
              {
                scrollTop:
                  textBox.scrollTop() +
                  (textBox.scrollTop() >= 229 ? -229 : 100),
              },
              "slow"
            );

            console.log("Speech Synthesised OK\n---");
            sounds = new Array();
            for (let i = 0; i < numLines - 1; i++) {
              // console.log("Adding sound " + (i + 1));
              ranId = makeid(5);
              newSound = new Audio(
                "static/output/" + sessionId + "/line" + i + ".wav?" + ranId
              );
              newSound.load();
              sounds.push(newSound);
            }
            //let textBox = document.getElementById("textBox");
            //when text would fade in this triggered it to fade in
            //textBox.classList.add("fade-in-text");
            k = -1;
            if (!automated) {
              playSounds(...sounds, k);
            }
            if (automated) {
              playSounds(...sounds, k);
              if (q.length < 2) {
                worker.addEventListener("message", function (e) {
                  // console.log(e.data);
                  q.enqueue(e.data);
                  worker.terminate();
                });

                worker.postMessage("GO");
              }

              //wait for the last sound to finish
            }
            //playSounds.apply(this,sounds);
            //audio = document.getElementById('audio');

            //audio.play();
          }
          if (this.readyState == 4 && this.status == 500) {
            textBox.innerHTML =
              "Error<br>Text Generation Success<br>Audio Synthesis Failed on Text:<br><br>-----" +
              output +
              "<br>-----";
          }
        };
        xhttp.open("POST", "http://127.0.0.1:5000/synthesise", true);
        xhttp.setRequestHeader("Content-Type", "application/json");
        //xhttp.send(JSON.stringify(text));
        xhttp.send(JSON.stringify(uText));
      }

      function enableGoButton() {
        button = document.getElementById("goButton");
        button.disabled = false;
      }

      function disableGoButton() {
        button = document.getElementById("goButton");
        button.disabled = true;
      }

      function clickGoogleAus() {
        disableGoButton();

        document.getElementById("keyWords").innerHTML = "";
        dropButton = document.getElementById("dropButton");
        dropButton.innerHTML = "Trending Google Searches - Australia";

        input = document.getElementById("kwToUse");
        input.disabled = true;

        useGoogleAus = true;
        useGoogleUSA = false;
        useOwnKW = false;

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            //let r = JSON.parse(this.responseText);
            KW.keywords = this.responseText;
            //console.log(r)

            document.getElementById("keyWords").innerHTML = KW["keywords"];
            if (automated) if (!addingToQueue) onLoad();
            if (!automated) enableGoButton();
          }
          if (this.readyState == 4 && this.status == 500) {
            document.getElementById("keyWords").innerHTML =
              "FAILED TO RETRIEVE KEYWORDS";
          }
        };

        xhttp.open("GET", "http://127.0.0.1:5000/kwGoogleAus", true);
        xhttp.send(null);
      }

      function clickGoogleUSA() {
        disableGoButton();

        document.getElementById("keyWords").innerHTML = "";
        dropButton = document.getElementById("dropButton");
        dropButton.innerHTML = "Trending Google Searches - USA";

        input = document.getElementById("kwToUse");
        input.disabled = true;

        useGoogleAus = false;
        useGoogleUSA = true;
        useOwnKW = false;

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            //let r = JSON.parse(this.responseText);
            KW.keywords = this.responseText;
            //console.log(r)

            document.getElementById("keyWords").innerHTML = KW["keywords"];
            if (automated) if (!addingToQueue) onLoad();
            if (!automated) enableGoButton();
          }
          if (this.readyState == 4 && this.status == 500) {
            document.getElementById("keyWords").innerHTML =
              "FAILED TO RETRIEVE KEYWORDS";
          }
        };

        xhttp.open("GET", "http://127.0.0.1:5000/kwGoogleUSA", true);
        xhttp.send(null);
      }

      function clickRedditNewsHot() {
        disableGoButton();

        document.getElementById("keyWords").innerHTML = "";
        dropButton = document.getElementById("dropButton");
        dropButton.innerHTML = "Reddit - Subreddit:News - Hot";

        input = document.getElementById("kwToUse");
        input.disabled = true;

        useGoogleAus = false;
        useGoogleUSA = true;
        useOwnKW = false;

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            //let r = JSON.parse(this.responseText);
            KW.keywords = this.responseText;
            //console.log(r)

            document.getElementById("keyWords").innerHTML = KW["keywords"];
            if (automated) if (!addingToQueue) onLoad();
            if (!automated) enableGoButton();
          } else {
            document.getElementById("keyWords").innerHTML =
              "FAILED TO RETRIEVE KEYWORDS";
          }
        };

        xhttp.open("GET", "http://127.0.0.1:5000/kwRedditNewsHot", true);
        xhttp.send(null);
      }
      function clickRedditNewsNew() {
        disableGoButton();
        document.getElementById("keyWords").innerHTML = "";
        dropButton = document.getElementById("dropButton");
        dropButton.innerHTML = "Reddit - Subreddit:News - New";

        input = document.getElementById("kwToUse");
        input.disabled = true;

        useOwnKW = false;

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            //let r = JSON.parse(this.responseText);
            KW.keywords = this.responseText;
            //console.log(r)

            document.getElementById("keyWords").innerHTML = KW["keywords"];
            if (automated) if (!addingToQueue) onLoad();
            if (!automated) enableGoButton();
          } else {
            document.getElementById("keyWords").innerHTML =
              "FAILED TO RETRIEVE KEYWORDS";
          }
        };

        xhttp.open("GET", "http://127.0.0.1:5000/kwRedditNewsNew", true);
        xhttp.send(null);
      }

      function clickRedditFunnyNew() {
        disableGoButton();
        document.getElementById("keyWords").innerHTML = "";
        dropButton = document.getElementById("dropButton");
        dropButton.innerHTML = "Reddit - Subreddit:Funny - New";

        input = document.getElementById("kwToUse");
        input.disabled = true;

        useOwnKW = false;

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            //let r = JSON.parse(this.responseText);
            KW.keywords = this.responseText;
            //console.log(r)

            document.getElementById("keyWords").innerHTML = KW["keywords"];
            if (automated) if (!addingToQueue) onLoad();
            if (!automated) enableGoButton();
          } else {
            document.getElementById("keyWords").innerHTML =
              "FAILED TO RETRIEVE KEYWORDS";
          }
        };

        xhttp.open("GET", "http://127.0.0.1:5000/kwRedditFunnyNew", true);
        xhttp.send(null);
      }

      function clickRedditFunnyHot() {
        disableGoButton();
        document.getElementById("keyWords").innerHTML = "";
        dropButton = document.getElementById("dropButton");
        dropButton.innerHTML = "Reddit - Subreddit:Funny - Hot";

        input = document.getElementById("kwToUse");
        input.disabled = true;

        useOwnKW = false;

        var xhttp = new XMLHttpRequest();

        xhttp.onreadystatechange = function () {
          if (this.readyState == 4 && this.status == 200) {
            //let r = JSON.parse(this.responseText);
            KW.keywords = this.responseText;
            //console.log(r)

            document.getElementById("keyWords").innerHTML = KW["keywords"];
            if (automated) if (!addingToQueue) onLoad();
            if (!automated) enableGoButton();
          } else {
            document.getElementById("keyWords").innerHTML =
              "FAILED TO RETRIEVE KEYWORDS";
          }
        };

        xhttp.open("GET", "http://127.0.0.1:5000/kwRedditFunnyHot", true);
        xhttp.send(null);
      }

      function clickEnterYourOwn() {
        dropButton = document.getElementById("dropButton");
        dropButton.innerHTML = "Enter Your Own Keywords";

        input = document.getElementById("kwToUse");
        input.disabled = false;

        useOwnKW = true;
      }

      function updateKWTBU() {
        input = document.getElementById("kwToUse");
        document.getElementById("keyWords").innerHTML = input.value;
      }
    </script> -->
  </header>
  <body>
    <h1>Text Generation in the Voice of Laurie Anderson</h1>

    <div class="container">
      <div class="leftImage">
        <img src="static/la-min.jpg" />
      </div>
      <div id="textBox" class="text">
        <p id="generatedText">Click GO to start text generation</p>
      </div>
      <div class="rightImage">
        <img src="static/laflip-min.jpg" />
      </div>
    </div>
    <h2>Keywords To Be Used</h2>
    <p id="keyWords"></p>
    <p>Select keyword Source below and then press Go</p>

    <div class="dropdown">
      <button class="dropbtn" id="dropButton">Select Source of Keywords</button>
      <div class="dropdown-content">
        <a onclick="clickGoogleAus()">Trending Google Searches - Australia</a>
        <a onclick="clickGoogleUSA()">Trending Google Searches - USA</a>
        <a onclick="clickRedditNewsHot()">Reddit - Subreddit:News - Hot</a>
        <a onclick="clickRedditNewsNew()">Reddit - Subreddit:News - New</a>
        <a onclick="clickRedditFunnyHot()">Reddit - Subreddit:Funny - Hot</a>
        <a onclick="clickRedditFunnyNew()">Reddit - Subreddit:Funny - New</a>
        <a onclick="clickEnterYourOwn()">Enter Your Own</a>
      </div>
    </div>

    <label for="kwToUse">First name: </label>
    <input
      type="text"
      id="kwToUse"
      name="kwToUse"
      value="Blue Ball"
      onchange="updateKWTBU()"
      disabled
    />
    <button id="goButton" onclick="onLoad()" disabled>Go</button>

    <button onclick="onclickStart()" id="startauto">Start Automation</button>
    <button onclick="onclickStop()" id="stopauto">Stop Automation</button>
  </body>
  <script>
    var textBox = document.getElementById("generatedText");
  </script>
</html>
